[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/ZF-snippets"]
	path = bundle/ZF-snippets
	url = git://github.com/motanelu/ZF-snippets.git
[submodule "NERD_Tree-and-ack"]
	path = bundle/NERD_Tree-and-ack
	url = https://github.com/vim-scripts/NERD_Tree-and-ack.git
